{% extends 'base.html' %}

{% block main %}
    {% for post in post_list %}
        <div class="center-align card-panel card-panel hoverable" style="width: 800px; ;margin: 0.5rem auto 1rem auto;">
            <h4 class=""><a href="{{ post.get_absolute_url }}"><span class="blue-text text-darken-2">{{ post.title }}</span></a></h4>
            <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date" datetime="">{{ post.created_time }}</time></a></span>
                            <span class="post-author"><a href="#">{{ post.author }}</a></span>
                            <span class="comments-link"><a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }} 评论</a></span>
            </div>
            <p class="bolditalic question-content">{{ post.excerpt }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn waves-effect waves-light">继续阅读</a>
        </div>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}
{% endblock main %}