{% load static %}
{% load blog_extras %}
<!DOCTYPE html>
<html lang="en">

<!--================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 1.0
	Author: GeeksLabs
	
================================================================================ -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>BJK&ZYX</title>

    <!-- Favicons-->
    <link rel="icon" href="{% static 'blog/whale.png' %}" sizes="32x32">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->


    <!-- CORE CSS-->    
    <link href="{% static 'blog/materialize/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'blog/materialize/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->    
    <link href="{% static 'blog/materialize/css/perfect-scrollbar.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'blog/materialize/css/jquery-jvectormap.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'blog/materialize/css/chartist.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">


</head>

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}
{% endif %}



<body>


    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>        
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="cyan">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="{% url 'blog:index' %}" class="brand-logo darken-1"><img src="{% static 'blog/materialize/img/materialize-logo.png' %}" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1>
                    <ul class="right hide-on-med-and-down">
                        <li class="search-out">
                            <input type="text" class="search-out-text">
                        </li>
                        <li>    
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search"><i class="mdi-action-search"></i></a>                              
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i class="mdi-social-notifications"></i></a>
                        </li>
                        <!-- Dropdown Trigger -->                        
                        <li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="{% static 'blog/materialize/img/min.jpg' %}" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown"> WhaleKing <i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Lovely Whale</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold"><a href="/kind/life" class="waves-effect waves-cyan"><i class="mdi-hardware-keyboard-alt"></i> 记录生活</a>
                    </li>
                    <li class="bold"><a href="/kind/love" class="waves-effect waves-cyan"><i class="mdi-action-favorite"></i> 感悟情爱</a>
                    </li>
                    <li class="bold"><a href="/kind/note" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> 随心所谈</a>
                    </li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-grade"></i>Python</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="/kind/Auto">Auto</a>
                                        </li>
                                        <li><a href="/kind/NetPro">NetPro</a>
                                        </li>
                                        <li><a href="/kind/Crawler">Crawler</a>
                                        </li>
                                        <li><a href="/kind/GUI">GUI</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-image-color-lens"></i>Web front</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="/kind/Css">Css</a>
                                        </li>
                                        <li><a href="/kind/Javascript">Javascript</a>
                                        </li>
                                        <li><a href="/kind/Bootstrap">Bootstrap</a>
                                        </li>
                                        <li><a href="/kind/Jquery">Jquery</a>
                                        </li>
                                        <li><a href="/kind/Materialize">Materialize</a>
                                        </li>
                                        <li><a href="/kind/Vue/Node">Vue/Node</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-account-balance-wallet"></i> Web Back</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="/kind/Django">Django</a>
                                        </li>
                                        <li><a href="/kind/Flask">Flask</a>
                                        </li>
                                        <li><a href="/kind/Php">Php</a>
                                        </li>
                                        <li><a href="/kind/Java">Java</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-invert-colors"></i>Server Use</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="/kind/Centos7">Centos 7</a>
                                        </li>
                                        <li><a href="/kind/Ubantu">Ubantu</a>
                                        </li>
                                        <li><a href="/kind/Windows">Windows</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="li-hover"><div class="divider"></div></li>
                    <li class="li-hover"><p class="ultra-small margin more-text">MORE</p></li>
                    <li><a href="/kind/DIY"><i class="mdi-action-accessibility"></i>DIY</a>
                    </li>
                    <li><a href="/kind/novel"><i class="mdi-av-my-library-books"></i> 小说</a>
                    </li>
                    <li><a href="about"><i class="mdi-communication-contacts"></i> 关于得敏</a>
                    </li>


                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->

            <!-- //////////////////////////////////////////////////////////////////////////// -->
            {% block main %}
            {% endblock main %}
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->


    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">

        <div class="footer-copyright">
            <div class="container">
                Copyright@ 2019   
                <span class="right"> Design and Developed by BJK </span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->

    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script src="{% static 'blog/materialize/js/jquery-1.10.2.js' %}"></script>
    <!--materialize js-->
    <script type="text/javascript" src="{% static 'blog/materialize/js/materialize.min.js' %}"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="{% static 'blog/materialize/js/perfect-scrollbar.min.js' %}"></script>
       

    <!-- chartist -->
    <script type="text/javascript" src="{% static 'blog/materialize/js/chartist.min.js' %}"></script>

    <!-- chartjs -->
    <script type="text/javascript" src="{% static 'blog/materialize/js/chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/materialize/js/chart-script.js' %}"></script>

    <!-- sparkline -->
    <script type="text/javascript" src="{% static 'blog/materialize/js/jquery.sparkline.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/materialize/js/sparkline-script.js' %}"></script>
    
    <!--jvectormap-->
    <script type="text/javascript" src="{% static 'blog/materialize/js/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/materialize/js/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/materialize/js/vectormap-script.js' %}"></script>
    
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="{% static 'blog/materialize/js/plugins.js' %}"></script>

</body>

</html>
